/Programs/Java/gridInsightLogger/.settings
/Programs/Java/gridInsightLogger/.classpath
/Programs/Java/gridInsightLogger/.project
/Programs/Java/dataCollector/.classpath
/Programs/Java/dataCollector/.project
/Programs/Java/dataCollector/.settings
/Programs/Java/dataExtractor/.classpath
/Programs/Java/dataExtractor/.gitignore
/Programs/Java/dataExtractor/.project
/Programs/Java/dataExtractor/.settings
